<app-navbar></app-navbar>
<div class="products">
  <!-- -------------------------- -->
  <!-- Breadcrumb -->
  <!-- -------------------------- -->
  <div class="breadcrumb">
    <h2>iphone</h2>
    <span>Home </span>
    <span>/ products </span>
    <span>{{ filterName ? "/ " + filterName : "" }} </span>
    <!-- <span>/ iphone </span> -->
  </div>
  <!-- -------------------------- -->
  <!-- ALL PRODUCTS -->
  <!-- -------------------------- -->
  <div class="products-content">
    <!-- Category -->
    <div class="category">
      <h2>Products</h2>
      <form>
        <div>
          <input
            type="radio"
            id="all"
            name="category"
            value="all"
            (change)="onCategoryList('https://dummyjson.com/products')"
          />
           
          <label for="all">All</label>
        </div>
        <div *ngFor="let cat of allCategories">
          <input
            type="radio"
            [id]="cat.slug"
            name="category"
            [value]="cat.slug"
            (change)="onCategoryList(cat.url, cat.name)"
          />
           
          <label [for]="cat.slug">{{ cat.name }}</label>
        </div>
      </form>
    </div>
    <!-- All Products -->
    <div class="all-products">
      <div class="items" *ngIf="allProducts.length > 0">
        <div
          class="item-box"
          *ngFor="
            let product of allProducts
              | paginate
                : { itemsPerPage: pageSize, currentPage: p, totalItems: total }
          "
        >
          <div class="product-image">
            <img [src]="product.thumbnail" alt="" />
            <p>-{{ product.discountPercentage }}</p>
          </div>
          <h3>{{ product.title }}</h3>
          <h5>{{ product.description }} %</h5>
          <div class="price">
            <span class="old"
              >{{
                (product.price / (100 - product.discountPercentage)) * 100
                  | number : "1.2-2"
              }}
              USD</span
            >
            <span class="new">{{ product.price }} USD</span>
          </div>
          <div class="brand">
            <p>
              Brand:<span>{{ product.brand }}</span>
            </p>
            <p>
              Category:<span>{{ product.category }}</span>
            </p>
            <p>
              In stock:<span>{{ product.stock }}</span>
            </p>
          </div>
          <div class="rate">
            <p>
              <img src="assets/images/Star.svg" alt="" /> {{ product.rating }}
              <span>({{ product.reviews.length }})</span>
            </p>
          </div>
          <button (click)="addToCart(product.id)">ADD TO CART</button>
        </div>
      </div>
      <div>
        <h2 *ngIf="allProducts.length == 0">
          There are no results for your search ...
        </h2>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  (pageChange)="pageChanged($event)"
  (pageBoundsCorrection)="pageChanged($event)"
  [maxSize]="5"
  [directionLinks]="true"
  [autoHide]="true"
  [responsive]="true"
>
</pagination-controls>
