header{
    display: flex;
    gap: 40px;
    padding: 18px 80px;
    border-bottom: 1px solid #424242;
    .navbar-logo{
        display: flex;
        align-items: center;
        img{
            width: 32px;
            height:32px ;
            margin-right: 10px;
        }
        h2{
            font-size: 16px;
            font-weight: 500;
            color: #000000;
        }

    }
    .navbar-links{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a{
            text-decoration: none;
            color: #667085;
            font-size: 16px;
            font-weight: 500;


        }
        .right-section{
            display: flex;
            align-items: center;
            gap: 24px;
            .search-input{
                background-color: transparent;
                display: flex;
                align-items: center;
                padding: 4px 8px;
                border: 0.5px solid #424242;
                border-radius: 8px;
                width: 319px;
                input{
                    width: 100%;
                    height: 32px;
                    background-color: transparent;
                    border: none;
                    outline: none;
                }
            }
            .cart{
                position: relative;
                span{
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    background-color: #41CCCC;
                    display: block;
                    width: 15px;
                    height: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    color: #344054;
                    font-size: 10px;
                    border: 2px solid #fff;
                }
            }
        }
       
    }
}

@media(max-width:992px){
    header{
      flex-direction: column;
      gap: 20px;
        
    }
}
@media(max-width:770px){
    header{
        .navbar-links{
            flex-direction: column;
            gap: 10px;
            align-items: start;
            .right-section{
                gap: 10px;
                flex-direction: column-reverse;
                align-items: start;
               .search-input{
                width: 100%;
               }
            }
        }
    }
}