<header>
  <!-- LOGO -->
  <div class="navbar-logo">
    <img src="assets/images/Logomark.svg" alt="logo" />
    <h2>ClickTik</h2>
  </div>
  <div class="navbar-links">
    <div>
      <a routerLink="/">Home</a>
    </div>
    <div class="right-section">
      <div class="search-input" *ngIf="isLoggedin">
        <img src="assets/images/search-icon.svg" alt="logo" />
        <input type="text" (change)="search($event)" />
      </div>
      <div class="cart" *ngIf="isLoggedin">
        <img src="assets/images/Cart.svg" alt="Cart" />
        <span>{{ productCart.length }}</span>
      </div>
      <a (click)="logout()" *ngIf="isLoggedin" style="cursor: pointer"
        >Logout</a
      >
      <a routerLink="auth" *ngIf="!isLoggedin">Log in</a>
    </div>
  </div>
</header>
